body {
    color: white;
<<<<<<< HEAD
    background-color: #333;
    font-size: 150%;
    font-family: 'Satisfy', cursive;
    margin: 5em 25%;
=======
    background-color: black;
>>>>>>> 84603d3a691f71b08c72f4d4a4c9e62edb2ce269
  }